USE [master]
GO
/****** Object:  Database [E_Learning]    Script Date: 7/12/2025 9:06:10 PM ******/
CREATE DATABASE [E_Learning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_Learning', FILENAME = N'F:\sqlserverdata\MSSQL16.MSSQLSERVER\MSSQL\DATA\E_Learning.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E_Learning_log', FILENAME = N'F:\sqlserverdata\MSSQL16.MSSQLSERVER\MSSQL\DATA\E_Learning_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_Learning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_Learning]
GO
/****** Object:  Table [dbo].[Allocation]    Script Date: 7/12/2025 9:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allocation](
	[AllocationID] [int] IDENTITY(1,1) NOT NULL,
	[Tid] [int] NULL,
	[Courseid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[Asid] [bigint] IDENTITY(1,1) NOT NULL,
	[T_Marks] [int] NULL,
	[Status] [int] NULL,
	[File] [varchar](max) NULL,
	[AllocationID] [int] NOT NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[Asid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attempt]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attempt](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[Asid] [bigint] NULL,
	[StdFile] [varchar](max) NULL,
	[ObtMarks] [int] NULL,
	[Remarks] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Courseid] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](100) NULL,
	[Cduration] [int] NULL,
	[Description] [varchar](max) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coursesemseter]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coursesemseter](
	[Course_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enroll]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll](
	[EnrollID] [int] IDENTITY(1,1) NOT NULL,
	[Sid] [int] NULL,
	[CourseID] [int] NULL,
	[Timeframe] [int] NULL,
	[S_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Active_Flag] [bit] NULL,
	[Certificate] [bit] NULL,
	[AllocationID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures_Plan]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures_Plan](
	[LID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [varchar](max) NULL,
	[Status] [int] NULL,
	[AllocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LSID] [int] IDENTITY(1,1) NOT NULL,
	[LID] [int] NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[Link] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_Attempt]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_Attempt](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[QuizAttemptID] [int] NOT NULL,
	[QsNo] [int] NOT NULL,
	[SelectedAnswer] [varchar](100) NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QsNO] [int] IDENTITY(1,1) NOT NULL,
	[Op1] [varchar](255) NULL,
	[Op2] [varchar](255) NULL,
	[Op3] [varchar](255) NULL,
	[Op4] [varchar](255) NULL,
	[Answer] [varchar](255) NULL,
	[DifficultyLevel] [varchar](20) NOT NULL,
	[question] [nvarchar](max) NULL,
	[LectureID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QsNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUIZ]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUIZ](
	[QID] [int] IDENTITY(1,1) NOT NULL,
	[TQUES] [int] NULL,
	[QuizTitle] [varchar](100) NULL,
	[TotalMarks] [int] NULL,
	[AllocationID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Attempt]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Attempt](
	[QuizAttemptID] [int] IDENTITY(1,1) NOT NULL,
	[Quiz_id] [int] NOT NULL,
	[Sid] [int] NOT NULL,
	[AttemptDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizAttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Quiz_Sid] UNIQUE NONCLUSTERED 
(
	[Quiz_id] ASC,
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Lectures]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Lectures](
	[QuizID] [int] NULL,
	[LectureID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[Sid] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Tid] [int] NOT NULL,
	[Rating] [int] NULL,
	[Review] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sid] ASC,
	[Tid] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Sid] [int] NOT NULL,
	[Score] [float] NOT NULL,
	[Session] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Progress]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Progress](
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[LastUnlockedLectureNo] [int] NOT NULL,
	[LastPassedQuizID] [int] NULL,
	[LastPassedAssignmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Tid] [int] NOT NULL,
	[Salary] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_Qualification]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Qualification](
	[Qid] [int] NOT NULL,
	[Qualification] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Qid] ASC,
	[Qualification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](255) NULL,
	[LName] [varchar](255) NULL,
	[FatherName] [varchar](100) NULL,
	[DOB] [date] NULL,
	[Email] [varchar](100) NULL,
	[PhoneNo] [varchar](20) NULL,
	[Password] [varchar](255) NULL,
	[CNIC] [varchar](20) NULL,
	[City] [varchar](50) NULL,
	[Picture] [varchar](max) NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[View]    Script Date: 7/12/2025 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[View](
	[ViewID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ContentType] [varchar](20) NOT NULL,
	[ContentID] [int] NOT NULL,
	[Viewed] [bit] NOT NULL,
	[DateAndTime] [datetime] NULL,
	[AllocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ('Medium') FOR [DifficultyLevel]
GO
ALTER TABLE [dbo].[Quiz_Attempt] ADD  DEFAULT (getdate()) FOR [AttemptDate]
GO
ALTER TABLE [dbo].[Student_Progress] ADD  DEFAULT ((1)) FOR [LastUnlockedLectureNo]
GO
ALTER TABLE [dbo].[View] ADD  DEFAULT ((1)) FOR [Viewed]
GO
ALTER TABLE [dbo].[View] ADD  DEFAULT (getdate()) FOR [DateAndTime]
GO
ALTER TABLE [dbo].[Allocation]  WITH CHECK ADD FOREIGN KEY([Courseid])
REFERENCES [dbo].[Course] ([Courseid])
GO
ALTER TABLE [dbo].[Allocation]  WITH CHECK ADD FOREIGN KEY([Tid])
REFERENCES [dbo].[Teacher] ([Tid])
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Assignment_Allocation] FOREIGN KEY([AllocationID])
REFERENCES [dbo].[Allocation] ([AllocationID])
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [FK_Assignment_Allocation]
GO
ALTER TABLE [dbo].[Attempt]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([Sid])
GO
ALTER TABLE [dbo].[Attempt]  WITH CHECK ADD  CONSTRAINT [FK_Attempt_Asid] FOREIGN KEY([Asid])
REFERENCES [dbo].[Assignment] ([Asid])
GO
ALTER TABLE [dbo].[Attempt] CHECK CONSTRAINT [FK_Attempt_Asid]
GO
ALTER TABLE [dbo].[coursesemseter]  WITH CHECK ADD  CONSTRAINT [FK__coursesemseter__Course_ID__Course_Courseid] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Courseid])
GO
ALTER TABLE [dbo].[coursesemseter] CHECK CONSTRAINT [FK__coursesemseter__Course_ID__Course_Courseid]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([Courseid])
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD FOREIGN KEY([Sid])
REFERENCES [dbo].[Student] ([Sid])
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Allocation] FOREIGN KEY([AllocationID])
REFERENCES [dbo].[Allocation] ([AllocationID])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_Enroll_Allocation]
GO
ALTER TABLE [dbo].[Lectures_Plan]  WITH CHECK ADD  CONSTRAINT [FK_LecturesPlan_Allocation] FOREIGN KEY([AllocationID])
REFERENCES [dbo].[Allocation] ([AllocationID])
GO
ALTER TABLE [dbo].[Lectures_Plan] CHECK CONSTRAINT [FK_LecturesPlan_Allocation]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([LID])
REFERENCES [dbo].[Lectures_Plan] ([LID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Question_Attempt]  WITH CHECK ADD  CONSTRAINT [FK_QuestionAttempt_Question] FOREIGN KEY([QsNo])
REFERENCES [dbo].[Questions] ([QsNO])
GO
ALTER TABLE [dbo].[Question_Attempt] CHECK CONSTRAINT [FK_QuestionAttempt_Question]
GO
ALTER TABLE [dbo].[Question_Attempt]  WITH CHECK ADD  CONSTRAINT [FK_QuestionAttempt_QuizAttempt] FOREIGN KEY([QuizAttemptID])
REFERENCES [dbo].[Quiz_Attempt] ([QuizAttemptID])
GO
ALTER TABLE [dbo].[Question_Attempt] CHECK CONSTRAINT [FK_QuestionAttempt_QuizAttempt]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_LecturesPlan] FOREIGN KEY([LectureID])
REFERENCES [dbo].[Lectures_Plan] ([LID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_LecturesPlan]
GO
ALTER TABLE [dbo].[QUIZ]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_Allocation] FOREIGN KEY([AllocationID])
REFERENCES [dbo].[Allocation] ([AllocationID])
GO
ALTER TABLE [dbo].[QUIZ] CHECK CONSTRAINT [FK_QUIZ_Allocation]
GO
ALTER TABLE [dbo].[Quiz_Attempt]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Attempt_Quiz] FOREIGN KEY([Quiz_id])
REFERENCES [dbo].[QUIZ] ([QID])
GO
ALTER TABLE [dbo].[Quiz_Attempt] CHECK CONSTRAINT [FK_Quiz_Attempt_Quiz]
GO
ALTER TABLE [dbo].[Quiz_Attempt]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Attempt_Student] FOREIGN KEY([Sid])
REFERENCES [dbo].[Student] ([Sid])
GO
ALTER TABLE [dbo].[Quiz_Attempt] CHECK CONSTRAINT [FK_Quiz_Attempt_Student]
GO
ALTER TABLE [dbo].[Quiz_Lectures]  WITH CHECK ADD  CONSTRAINT [FK_QuizLecture_Lecture] FOREIGN KEY([LectureID])
REFERENCES [dbo].[Lectures_Plan] ([LID])
GO
ALTER TABLE [dbo].[Quiz_Lectures] CHECK CONSTRAINT [FK_QuizLecture_Lecture]
GO
ALTER TABLE [dbo].[Quiz_Lectures]  WITH CHECK ADD  CONSTRAINT [FK_QuizLecture_Quiz] FOREIGN KEY([QuizID])
REFERENCES [dbo].[QUIZ] ([QID])
GO
ALTER TABLE [dbo].[Quiz_Lectures] CHECK CONSTRAINT [FK_QuizLecture_Quiz]
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([Courseid])
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD FOREIGN KEY([Sid])
REFERENCES [dbo].[Student] ([Sid])
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD FOREIGN KEY([Tid])
REFERENCES [dbo].[Teacher] ([Tid])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Sid])
REFERENCES [dbo].[User] ([Uid])
GO
ALTER TABLE [dbo].[Student_Progress]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([Courseid])
GO
ALTER TABLE [dbo].[Student_Progress]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([Sid])
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([Tid])
REFERENCES [dbo].[User] ([Uid])
GO
ALTER TABLE [dbo].[Teacher_Qualification]  WITH CHECK ADD FOREIGN KEY([Qid])
REFERENCES [dbo].[Teacher] ([Tid])
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([Sid])
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD  CONSTRAINT [FK_View_Allocation] FOREIGN KEY([AllocationID])
REFERENCES [dbo].[Allocation] ([AllocationID])
GO
ALTER TABLE [dbo].[View] CHECK CONSTRAINT [FK_View_Allocation]
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Role] CHECK  (([Role]='Guest' OR [Role]='Student' OR [Role]='Teacher' OR [Role]='Admin' OR [Role] IS NULL))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Role]
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD CHECK  (([ContentType]='Quiz' OR [ContentType]='Assignment' OR [ContentType]='Lecture'))
GO
USE [master]
GO
